body {
  background-color: #607980;
  font-family: tahoma;
  color: #1B373F;
  text-align: center;
}

table {
  margin: 0 auto;
  width: 500px;
  padding: 10px 60px;
}

.current {
  background-color: #1B373F;
}

td {
  background-color: #1B373F;
  padding: 5px;
  color: #607980;
  border: solid #0E2A31;
  border-width: 0 2px 2px 1px;
  border-radius: 5px;
}

.submit {
  background-color: #1B373F;
  font-family: tahoma;
  color: #607980;
  border: solid #0E2A31;
  border-width: 0.5px 2px 2px 1px;
  border-radius: 5px;
}

.searchBar {
  background-color: white;
  font-family: tahoma;
  width: 300px;
  color: #1B373F;
  border: solid #1B373F;
  border-width: 0.5px 2px 2px 1px;
  border-radius: 5px;
}